language: rust
rust:
  - stable
  - beta
  - nightly
cache: cargo
jobs:
  allow_failures:
    - rust: nightly
  fast_finish: true

before_script: |
  if [[ "$TRAVIS_RUST_VERSION" == stable ]]; then
    cargo install cargo-tarpaulin
  fi
  if [[ "$TRAVIS_EVENT_TYPE" == cron ]]; then
    for TAG in $(git tag | grep -)
    do
      git push --delete origin $TAG https://${GITHUB_TOKEN}@github.com/frosklis/dinero-rs.git
    done
  fi 

script:
- cargo build
- cargo test

after_success: |
  if [[ "$TRAVIS_RUST_VERSION" == stable ]]; then
    cargo tarpaulin --out Xml
    bash <(curl -s https://codecov.io/bash)

    # If this build is not from a tag, create one
    if [[ "$TRAVIS_TAG" == "" ]]; then
      # Build a tag
      # This prints the version number
      export version=$(grep -E "version = \"([0-9]+\.[0-9]+.[0-9]+)\"" Cargo.toml | grep -Eo -m 1 "[0-9]+\.[0-9]+.[0-9]+")
      export line_number=$(grep -En "version = \"([0-9]+\.[0-9]+.[0-9]+)\"" Cargo.toml | grep -Eo -m 1 "[0-9]+" | head -n 1)
      sed -i "${line_number}s/.*/version = \"${version}-build-${TRAVIS_BUILD_NUMBER}\"/" Cargo.toml 
      git tag -a -m "automated tag from Travis" ${version}-build-${TRAVIS_BUILD_NUMBER}
      git push -f --tags https://${GITHUB_TOKEN}@github.com/frosklis/dinero-rs.git
    elif [[ "$TRAVIS_TAG" != *"build"* ]]; then
      rm cobertura.xml
      cargo publish --token ${CARGO_TOKEN}
    fi 
  fi